name: Build Wheels
on:
  workflow_dispatch:
    inputs:
      upload-to-pypi:
        description: "Whether to upload wheels to PyPI"
        required: true
        default: "no"
        type: choice
        options: ["yes", "no"]

jobs:
  build-wheels:
    name: Build wheels (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest, platform: linux }
          - { os: macos-latest, platform: macos }
          - { os: windows-latest, platform: windows }
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip setuptools
          pip install cibuildwheel

      - name: Clean previous builds
        run: rm -rf build dist *.egg-info wheelhouse
        shell: bash

      - name: Build wheels
        run: |
          mkdir -p wheelhouse/${{ matrix.platform }}
          cibuildwheel --output-dir wheelhouse/${{ matrix.platform }} --platform ${{ matrix.platform }}
        shell: bash

      - name: List contents of wheelhouse
        run: ls -R wheelhouse
        shell: bash

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-wheels
          path: wheelhouse/${{ matrix.platform }}

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel

      - name: Build source distribution
        run: |
          mkdir -p wheelhouse/dist
          python setup.py sdist --dist-dir=wheelhouse/dist
          
      - name: Upload source distribution
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: wheelhouse/dist
  
  upload-to-pypi:
    needs: [build-wheels, build-sdist]
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.upload-to-pypi == 'yes' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "twine==6.0.1"

      - name: Download wheels from Linux
        uses: actions/download-artifact@v4
        with:
          name: linux-wheels
          path: wheelhouse/linux

      - name: Download wheels from macOS
        uses: actions/download-artifact@v4
        with:
          name: macos-wheels
          path: wheelhouse/macos

      - name: Download wheels from Windows
        uses: actions/download-artifact@v4
        with:
          name: windows-wheels
          path: wheelhouse/windows

      - name: Download source distribution
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: wheelhouse/dist

      - name: Check package metadata
        run: |
          python -m twine check wheelhouse/linux/* wheelhouse/macos/* wheelhouse/windows/* wheelhouse/dist/*
          
      - name: Upload wheels to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m twine upload --repository pypi --skip-existing wheelhouse/linux/* wheelhouse/macos/* wheelhouse/windows/* wheelhouse/dist/*
        
